#tarjeta{
    margin: 100px;
}

#tarjeta img{
    width: 40%;
    height: auto;
}

button{
    padding: 6px;
    margin-top: 3px;
    border-radius: 15px;
}

button:hover{
background-color: black;
color: white;
}